[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypdf = "*"
langchain = "*"
huggingface-hub = "*"
langchain-community = "*"
langchain-huggingface = "*"
faiss-cpu = "*"
python-dotenv = "*"
streamlit = "==1.32.2"

[dev-packages]

[requires]
python_version = "3.10"
